
# BEGIN EnvatoBackup
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=462c2647b082e428a9fc1c564a553db9
RewriteRule (.*) - [F]
</IfModule>

# END EnvatoBackup